.flex-direction-nav a {
    height: 50px !important;
    z-index: 0;
}

#slider.flexslider {
    margin-bottom: 0px;
}

#mobile-slider .flex-active {
    background-color: #a7c22a;
}

.description {
    margin-bottom: 10px;
}

.verified-title {
    font-size: 11px;
    font-weight: 400;
}

.verified-brand {
    font-size: 13px;
}

.div_kanan {
    border: 1px solid #eceaea;
    border-radius: 3px;
    padding: 10px;
}

.nm_pengiriman {
    color: #999;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#div_deskripsi li {
    list-style-type: circle;
}

#div_deskripsi ul {
    margin-left: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
}

th {
    font-size: 14px;
}

.tooltip-arrow,
.red-tooltip+.tooltip>.tooltip-inner {
    background-color: #a2c56e;
}

.flex-direction-nav a {
    z-index: 3 !important;
}

.branch-link {
    color: black;
    font-weight: 550;
}

.branch-link:hover {
    color: #97C23C;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#btn-cart,
#btn-cart-not {
    background-color: #FFF !important;
    color: #A9CE4A !important;
    font-size: 14px;
    width: 100% !important;
    box-shadow: none;
    height: 48px;
    padding: 0;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid #A9CE4A !important;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#btn-cart:hover,
#btn-cart-not:hover {
    color: #FFF !important;
    border: 1px solid #333;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}

.div_kanan .purchase .btn {
    background-color: #A9CE4A;
    color: #FFFFFF;
    font-size: 14px;
    border: 1px solid #A9CE4A;
    width: 100% !important;
    height: 48px;
    padding: 5px 10px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.div_kanan .purchase .btn:hover {
    background-color: #333;
    /*color: #A9CE4A;*/
    border: 1px solid #333;
}

.product_free_ongkir {
    position: relative;
    top: -19px;
    left: -7%;
}

.title-compare {
    font-weight: bold;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.title-compare:hover {
    color: #a7c22a !important;
}

.hover-compare:hover .title-compare {
    color: #a7c22a !important;
}

/*NEW CSS*/
.slick-next:before,
.slick-prev:before {
    color: #97c23c
}

.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #a6dd69;
    width: 50px;
    height: 50px;
    margin: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
    padding-bottom: 20px
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #a6dd69;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both
}

.spinner .bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.spinner .bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    100%,
    80% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1)
    }
}

@keyframes sk-bouncedelay {

    0%,
    100%,
    80% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.box-brand {
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 7px -3px rgba(0, 0, 0, .3);
    margin-right: 30px;
    padding: 0 10px
}

.box-product {
    box-shadow: 0 1px 6px 0 rgba(49, 53, 59, .12);
    border: 1px solid #a7c22a;
    border-radius: 3px;
    height: 270px;
    margin-top: 25px
}

.btn-default {
    background: #a7c22a;
    border-radius: 4px;
    color: #fff;
    border: none;
    text-transform: capitalize;
    box-shadow: 0 1px 6px 0 rgba(49, 53, 59, .12)
}

.btn-default:hover {
    background: #81961e
}

.btn-white {
    background: #fff;
    border-radius: 4px;
    color: #999;
    border: #ccc;
    text-transform: capitalize;
    box-shadow: 0 1px 6px 0 rgba(49, 53, 59, .12)
}

.btn-white:hover {
    background: #ccc
}

.product-discount-label {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background-color: #d9534f;
    color: #fff;
    padding: 5px 10px
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 9px 2px
}

.lds-ring div {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    border-color: #000 transparent transparent transparent
}

.lds-ring div:nth-child(1) {
    animation-delay: -.45s
}

.lds-ring div:nth-child(2) {
    animation-delay: -.3s
}

.lds-ring div:nth-child(3) {
    animation-delay: -.15s
}

@keyframes lds-ring {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@media (max-width:991px) and (min-width:585px) {
    .collection-items .products .product-item {
        width: 33.333333% !important
    }
}

@media (max-width:320px) {
    .img-responsive {
        width: 70%;
        margin: 0 auto
    }

    .product-item {
        width: 100%
    }
}

@media (max-width:375px) {
    .product {
        min-height: 355px !important
    }

    .tombol-cart {
        top: 48% !important
    }
}

@media (max-width:425px) and (min-width:376px) {
    .tombol-cart {
        top: 48% !important
    }
}

@media (max-width:767px) and (min-width:426px) {
    .tombol-cart {
        top: 46% !important
    }

    .product {
        min-height: 369px !important
    }
}

@media (max-width:1024px) and (min-width:768px) {
    .tombol-cart {
        top: 50% !important
    }

    .product {
        min-height: 369px !important
    }
}

@media (max-width:1199px) and (min-width:1025px) {
    .product {
        min-height: 369px !important
    }
}

.garis-tengah {
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    display: block;
    margin-top: 10px
}

.tombol-cart {
    z-index: 1;
    background-color: #fff;
    position: absolute;
    top: 48%;
    right: 5%;
    padding: 0;
    display: inline-block;
    border: 1px solid rgba(167, 194, 42, .3);
    height: 40px;
    border-radius: 50%;
    width: 40px;
    box-shadow: 0 0 7px 1px rgba(167, 194, 42, .3);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.tombol-cart button {
    background: 0 0;
    border: none;
    line-height: 0;
    padding: 0 7px;
    outline: 0
}

.tombol-cart:hover .icon-cart i {
    color: #fff
}

.tombol-cart button-cart:active,
.tombol-cart button-cart:hover,
.tombol-cart button:active,
.tombol-cart button:hover {
    border: none;
    background: 0 0;
    outline: 0
}

.tombol-cart a {
    padding: 12px 7px;
    line-height: 37px
}

.tombol-cart:hover {
    background-color: #a7c22a;
    box-shadow: 0 0 7px 1px rgba(167, 194, 42, .3)
}

.product-item {
    border: none
}

.product {
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 15px !important;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 7px -3px rgba(0, 0, 0, .3);
    min-height: 355px;
    border-radius: 5px;
}

.pre-order-label {
    color: #666;
    bottom: 0;
    display: inline-block;
    margin-top: 3px;
    position: relative;
    z-index: 1;
    padding: 2px 10px;
    background-color: #eee;
    font-weight: 700;
    border-radius: 2px
}

.free-ongkir-label {
    color: #fff;
    bottom: 0;
    display: inline-block;
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
    position: relative;
    z-index: 1;
    padding: 2px 5px;
    background-color: #a7c22a;
    font-weight: 700;
    border-radius: 2px
}

button:disabled,
button[disabled] {
    /* border: 1px solid #999999; */
    background-color: #DDDDDD;
    color: #666666;
}

.add-to-wishlist-desktop .wish-list i {
    transition: 0.3s;
}

.add-to-wishlist-desktop .wish-list:hover i {
    color: #d9534f !important;
}

.money {
    font-weight: 600;
    color: #a7c22a;
}

@media (max-width: 382px) and (min-width: 321px) {
    .pre-order-label {
        font-size: 10px;
        padding: 2px 5px;
    }

    .free-ongkir-label {
        font-size: 10px;
        padding: 2px 3px;
    }
}

.profile-merchant {
    width: 100%;
    margin-top: 5px;
    position: relative;
}

.profile-merchant .img-profile-merchant {
    width: 17%;
    display: inline-block;
}

.profile-merchant .img-profile-merchant img {
    border-radius: 50%;
}

.profile-merchant .text-profile-merchant {
    width: 60%;
    display: inline-block;
    position: absolute;
    margin-left: 3px;
}

.profile-merchant .text-name-profile-merchant {
    display: block;
    font-weight: bold;
    color: #a7c22a;
}

.profile-merchant .text-name-profile-merchant a:hover {
    color: #a7c22a;
}

.profile-merchant .text-location-profile-merchant {
    display: block;
    font-size: 11px;
    color: #777;
    font-weight: 500;
}

@media (max-width:350px) {
    .img-profile-merchant {
        width: 16% !important;
    }
}

.breadcrumb a,
.breadcrumb .arrow-space,
.breadcrumb a i {
    color: #a7c22a !important;
}

.breadcrumb a:hover,
.breadcrumb a:hover i {
    color: #969696 !important;
}

.btn-add-to-wishlist {
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 10px;
    font-size: 18px;
    transition: .5s;
}

.btn-add-to-wishlist:hover {
    color: #d9534f !important;
}
#tabs-information .information_content .information_heading h4 {
    font-weight: bold;
}
.heading-information {
    /*box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, .175);*/
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 15px 0;
}
.heading-information ul li {
    display: inline-block;
}
.heading-information ul li a{
    padding: 14px 30px;
    font-size: 15px;
}
.heading-information ul li a {
    font-weight: bold;
    transition: .3s;
}
.heading-information ul li a.active {
    color: #A7C22A;
}
.heading-information ul li a:hover {
    color: #A7C22A;
}
#tabs-information .content-information {
    margin-top: 30px;
}
#tabs-information #spesification_information table {
    border-radius: 2px;
}
#review_information .star_rating_review {
    display: inline-block !important;
}
#review_information .all_reviews {
    margin-top: 30px;
}
#review_information .all_reviews .all_reviews_title {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
#review_information .all_reviews .reviews_star_profile {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
#review_information .all_reviews .reviews_star_profile .reviews_name_profile {
    font-weight: bold;
}
#review_information .all_reviews .reviews_star_content {
    display: inline-block;
    width: 75%;
}
#review_information .all_reviews .reviews_star_content .reviews_description {
    font-weight: 500;
    font-style: italic;
}
#review_information .all_reviews .all_reviews_content_container {
    border-bottom: 1px solid #eee;
    padding: 30px 0px;
}
#tabs-information {
    padding-top: 0;
    margin-bottom: 25px;
    background-color: #fff;
}

/*Mobile*/
#tabs-information .information_content_mobile .information_content_heading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
#tabs-information .information_content_mobile .information_content_body .rating_review .star_rating_review {
    display: inline-block;
}
#tabs-information .information_content_mobile .information_content_body .all_reviews .all_reviews_title {
    font-weight: bold;
    margin-top: 15px;
}
#tabs-information .information_content_mobile .information_content_body .all_reviews .all_reviews_content .reviews_star_profile {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
#tabs-information .information_content_mobile .information_content_body .all_reviews .all_reviews_content .reviews_star_profile .reviews_name_profile {
    font-weight: bold;
}
#tabs-information .information_content_mobile .information_content_body .all_reviews .all_reviews_content .reviews_star_content {
    display: inline-block;
    width: 65%;
}
#tabs-information .information_content_mobile .information_content_body .all_reviews .all_reviews_content .reviews_star_content .reviews_description {
    font-style: italic;
}
#tabs-information .information_content_mobile .information_content_body .all_reviews .all_reviews_content .all_reviews_content_container {
    border-bottom: 1px solid #EEE;
    padding: 30px 0px;
}

.product-detail-content .info-detail-pro {
    margin-bottom: 30px;
}

.grochire-detail {
    padding-left: 0;
    padding-right: 15px;
    padding-bottom: 10px;
}
.grochire p {
    margin: 10px;
}

.grochire-detail .grochire-qty {
    padding: 10px 0;
    text-align: center;
    display: grid;
    cursor: pointer;
}

.grochire-detail .grochire-qty:nth-child(odd) {
    background-color: #EFEFEF;
    border-bottom: 2.5px solid #EFEFEF;
}

.grochire-detail .grochire-qty:nth-child(even) {
    background-color: #F6F6F6;
    border-bottom: 2.5px solid #F6F6F6;
}

.grochire-detail .grochire-qty.active {
    /*border-bottom: 2.5px solid #B7CD69;*/
    border: 1px solid #B7CD69;;
}

.grochire-detail .grochire-qty span:nth-child(even) {
    font-size: 14px;
    color: #B7CD69;
}
#see_others_grochire_price_link {
    color: #A7C22A !important;
    font-weight: 550;
}
#see_others_grochire_price_link:hover {
    color: #E75A5F !important;
}

#see_others_grochire_reseller {
    color: #A7C22A !important;
    font-weight: 550;
}
#see_others_grochire_reseller:hover {
    color: #E75A5F !important;
}
@media(max-width: 1199px) {
    .grochire-detail .grochire-qty span:nth-child(even) {
        font-size: 11px;
    }
}
@media(max-width: 991px and min-width: 768px) {
    .product_free_ongkir {
        position: absolute;
        top: 22px;
        left: 20%;
    }
}