.bg-color {
    background: #2488ff
}
.wishlist-button>a:hover {
    background-color: #2488ff;
    color: #fff
}
.currency-box .currency-list li a:hover,
.language-box .language-list li a:hover {
    background: #2488ff
}
.account-login a:hover,
.address-box .address-toggle {
    color: #2488ff
}
.smart-search {
    border-color: #2488ff
}
.list-category-toggle a:hover {
    background: #2488ff
}
.smart-search-form input[type=submit] {
    background-color: #2488ff
}
.checkout-box .checkout-link,
.info-price span,
.mini-cart-box .mini-cart-link,
.mini-cart-info h3 a:hover,
.wishlist-box .wishlist-top-link {
    color: #2488ff
}
.mini-cart-button a:hover,
.shop-button:focus,
.shop-button:hover {
    background: #2488ff
}
.main-nav>ul>li .sub-menu>li:hover>a,
.main-nav>ul>li:hover>a {
    color: #2488ff
}
.owl-theme .owl-controls .owl-buttons div:hover {
    background: #2488ff
}
.price-from span,
.product-title a:hover,
.tab-pro-ajax-header li a:hover {
    color: #2488ff
}
.tab-pro-ajax-header li.active a::after {
    background: #2488ff
}
.product-extra-link a {
    color: #2488ff
}
.product-extra-link a:hover {
    background: #2488ff
}
.product-price ins,
.quickview-link.plus:hover {
    color: #2488ff
}
.btn-loadmore a:hover {
    background: #2488ff;
    border-color: #2488ff
}
.flagship-link>a:hover {
    background: #2488ff
}
.item-cat-color-more .title18 a:hover,
.item-cat-color-more ul li a:hover,
.service-info ul li a::before,
.service-info ul li a:hover {
    color: #2488ff
}
.newsletter-form input[type=submit] {
    background: #2488ff
}
.list-social>a:hover {
    color: #fff;
    border-color: #2488ff;
    background-color: #2488ff
}
.contact-footer-box.footer-box p a:hover,
.list-tag-footer>a:hover,
.menu-footer-box ul li a:hover {
    color: #2488ff
}
.radius.scroll-top:hover {
    background-color: #2488ff
}
.view-type a.active,
.view-type a:hover {
    background-color: #2488ff;
    border-color: #2488ff
}
.item-pro-ajax .quickview-link span::after {
    background-color: #2488ff
}
.item-pro-ajax .quickview-link:hover {
    color: #2488ff
}
.product-extra-link2 .addcart-link:hover {
    background: #2488ff
}
.product-extra-link2 .compare-link:hover,
.product-extra-link2 .wishlist-link:hover {
    color: #2488ff
}
.pagi-bar a.current-page,
.pagi-bar a:hover {
    background-color: #2488ff;
    border-color: #2488ff
}
.widget-product-cat ul a:hover {
    color: #2488ff
}
.widget-product-cat ul li.has-sub-cat>a::after {
    background-color: #2488ff
}
.range-filter #slider-range {
    background-color: rgba(36, 136, 255, .2)
}
.range-filter #slider-range .ui-widget-header {
    background: rgba(36, 136, 255, .8)
}
.range-filter #slider-range .ui-slider-handle.ui-state-default.ui-corner-all,
.range-filter .btn-filter {
    background-color: #2488ff
}
.size-filter.list-filter li a:hover,
.size-filter.list-filter li.active a {
    border-color: #2488ff
}
.item-toggle-tab.active .toggle-tab-title::before {
    background-color: #2488ff
}
.current-color,
.current-size,
.detail-qty>a:hover,
.detail-without-sidebar .hoz-tab-title>ul li.active a,
.gallery-control>a:hover,
.hoz-tab-title>ul li a:hover,
.percent-config {
    color: #2488ff
}
.hoz-tab-title>ul li.active a::before {
    background-color: #2488ff
}
.gallery-without-sidebar .flex-direction-nav>li>a:hover {
    color: #2488ff
}
.post-format-date i.fa {
    background-color: #2488ff
}
.post-date-comment a:hover,
.post-date-comment i.fa,
.post-title a:hover {
    color: #2488ff
}
.widget-tag-cloud li a:hover {
    border-color: #2488ff;
    color: #2488ff
}
.item-post-masonry .readmore:hover,
.tip-box ul li a::before {
    background-color: #2488ff
}
.block-quote>h3 {
    color: #2488ff
}
.block-quote>h3::before {
    background-color: #2488ff
}
.tip-box ul li a:hover {
    color: #2488ff
}
.post-control .btn-control:hover {
    border-color: #2488ff;
    color: #fff;
    background-color: #2488ff
}
.author-info>h3 a:hover {
    color: #2488ff
}
.author-avatar a::before {
    background: rgba(36, 136, 255, .7)
}
.comment-info>h3 a:hover {
    color: #2488ff
}
.comment-form input[type=submit]:hover {
    background-color: #2488ff
}
.leave-comment>p span {
    color: #2488ff
}
.title-cat-mega-menu {
    border-left: 3px solid #2488ff
}
.color,
.list-cat-icon>li:hover>a,
.list-cat-mega-menu a:hover {
    color: #2488ff
}
.social-header>a:hover {
    background-color: #2488ff
}
.mini-cart1 .mini-cart-link .mini-cart-number {
    color: #2488ff
}
.mini-cart1 .mini-cart-icon {
    background-color: #2488ff
}
.mini-cart1 .mini-cart-icon::after {
    border-left: 5px solid #2488ff
}
.search-trend a:hover {
    color: #2488ff
}
.wrap-cat-icon1 .title-cat-icon {
    background-color: #2488ff
}
.wrap-cat-icon1 .list-cat-icon {
    border-color: #2488ff
}
.wrap-cat-icon1::after {
    color: #2488ff
}
.item-banner1 .banner-info .shopnow {
    background-color: #2488ff
}
.sub-banner-slider .owl-theme .owl-controls .owl-buttons div:hover {
    background: 0 0;
    color: #2488ff
}
.title-box1 .title30 span {
    background-color: #2488ff
}
.title-box1 .list-none li a:hover,
.title-box1 .list-none li.active a::before,
.title-box1 .title30 span::after {
    color: #2488ff
}
.header-hotdeal .title-box1 {
    border-bottom: 1px solid #2488ff
}
.quickview-link.pos-bottom:hover {
    color: #2488ff
}
.quickview-link.pos-bottom span::after {
    background-color: #2488ff
}
.category-box1 .list-none li a:hover,
.deal-percent {
    color: #2488ff
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
    background: #2488ff
}
.smart-search2 .submit-form:hover input[type=submit] {
    background-color: #2488ff
}
.social-header.style2>a:hover {
    color: #2488ff;
    border-color: #2488ff
}
.bg-color {
    background-color: #2488ff
}
.flash-countdown::before,
.flash-label::before {
    color: #2488ff
}
.item-hotcat2 .list-none>li a::before {
    background: #2488ff
}
.item-hotcat2 .viewmore::after,
.item-hotcat2 .viewmore:hover {
    color: #2488ff
}
.hotcat-slider2 .owl-theme .owl-controls .owl-buttons div:hover {
    background-color: #2488ff
}
.mini-cart-edit a:hover,
.smart-search2 .submit-form:hover::before,
.submit-form::before {
    color: #2488ff
}
.header-nav3 {
    border-bottom: 3px solid #2488ff
}
.banner-slider3 .banner-info .shopnow:hover {
    color: #fff;
    background-color: #2488ff
}
.banner-slider3 .banner-info.style2 .shopnow:hover {
    background-color: #2488ff
}
.arrow-style3 .owl-theme .owl-controls .owl-buttons div:hover {
    color: #fff;
    background-color: #2488ff;
    border-color: #2488ff
}
.product-extra-link3 a:hover {
    color: #2488ff
}
.cat-pro3 .btn-control-banner:hover,
.product-extra-link3 a.addcart-link {
    background-color: #2488ff
}
.list-tags3>a:hover {
    border-color: #2488ff;
    color: #fff;
    background-color: #2488ff
}
.item-testimo3 .title14::before {
    background: #2488ff
}
.item-testimo3 .title14 a,
.list-why .title14 strong {
    color: #2488ff
}
.pro-deal3 .flash-countdown .time_circles>div .number {
    border: 1px solid #2488ff;
    color: #2488ff
}
.title-box3 {
    border-top: 2px solid #2488ff
}
.item-popcat3 .list-none a:hover,
.post-zoom-link {
    color: #2488ff
}
.post-zoom-link:hover {
    color: #fff;
    background-color: #2488ff
}
.mini-cart-link .mini-cart-icon {
    color: #2488ff
}
.inner-top-banner .shopnow:hover,
.service-footer3 {
    background-color: #2488ff
}
.product-tab5 .owl-theme .owl-controls .owl-buttons div:hover {
    color: #2488ff
}
.item-trend5 .product-extra-link a:hover {
    border-color: #2488ff
}
.morecat-info5 .seeall:hover {
    color: #2488ff
}
.morecat-info5 .list-none a:hover::before {
    background-color: #2488ff
}
.account-login.account-login6>a:hover {
    color: #fff;
    background-color: #2488ff
}
.call-phone-number::before {
    color: #2488ff
}
.trending-box6 .seeall:hover {
    background-color: #2488ff
}
.hotdeal-box6 .title24 i,
.trending-box6 .title24 i {
    color: #2488ff
}
.item-hotdeal6 .product-extra-link3 a.addcart-link:hover {
    color: #fff;
    background-color: #2488ff;
    border-color: #2488ff
}
.title-box6::before {
    background-color: #2488ff
}
.hotkey-cat-color a:hover {
    background: #2488ff;
    border-color: #2488ff;
    color: #fff
}
.list-brand6 .header-cat-color::after {
    height: 2px;
    background-color: #2488ff
}
.latest-news6 {
    border-top: 2px solid #2488ff
}
.latest-slider6 .owl-theme .owl-controls .owl-buttons div:hover {
    color: #fff;
    background-color: #2488ff
}
.nav-footer6 a:hover {
    color: #2488ff
}
.footer-box6 .list-social>a:hover,
.header-nav7 {
    background-color: #2488ff
}
.big-sale7>label::after {
    border-left: 22px solid #2488ff
}
.big-sale7>label {
    background: #2488ff
}
.category-box7 .header-cat-color::after {
    background-color: #2488ff
}
.header-cat-color .cat-color-link:hover {
    color: #2488ff
}
.whyus-testimo {
    border-top: 2px solid #2488ff
}
.testimo-slider7 .owl-theme .owl-controls .owl-page.active span {
    background-color: #2488ff
}
.account-login.account-login8>a:hover,
.mini-cart8:hover .mini-cart-link .mini-cart-icon,
.whistlist-cart8 li>a:hover {
    color: #2488ff
}
.banner-slider8 .owl-theme .owl-controls .owl-buttons div:hover {
    background-color: #2488ff;
    color: #fff
}
.tab-title8 .list-none li.active a {
    border-bottom: 1px solid #2488ff
}
.tab-title8 .list-none li a:hover,
.tab-title8 .list-none li.active a {
    color: #2488ff
}
.product-slider8 .owl-theme .owl-controls .owl-buttons div:hover {
    background-color: #2488ff;
    color: #fff;
    border-color: #2488ff
}
.deal-countdown8>span {
    color: #2488ff
}
.deal-countdown8 .flash-countdown .time_circles>div>.number,
.header-nav9 {
    background-color: #2488ff
}
.search-form9 .smart-search-form::after {
    color: #2488ff
}
.adv-info9 .shopnow:hover {
    background-color: #2488ff
}
.item-adv9:hover {
    border-color: #2488ff
}
.deal-product9 .product-sale {
    background-color: #2488ff
}
.deal-countdown9 .flash-countdown .time_circles>div {
    color: #2488ff
}
.event-form>input[type=submit] {
    background-color: #2488ff
}
.social-footer9 .list-social>a:hover {
    color: #fff;
    background-color: #2488ff;
    border-color: #2488ff
}
.mobile-phone9 i {
    background: #2488ff
}
.copyright9 a:hover,
.inner-link-top a:hover,
.login10>a:hover,
.menu-box9 .list-none a:hover,
.menu-footer9 .list-none li a:hover,
.text-review::before,
.top-header10 .currency-language10>div>a:hover {
    color: #2488ff
}
.mini-cart10 .mini-cart-link .mini-cart-number {
    background: #2488ff
}
.main-nav10.main-nav>ul>li:hover>a {
    color: #2488ff
}
.banner-slider10 .banner-info .shopnow:hover,
.deal-product10 .alldeal:hover,
.widget-seller .allreview:hover {
    background: #2488ff
}
.title-product-type10 .list-none li.active a,
.title-product-type10 .list-none li:hover a {
    background: #2488ff;
    border-color: #2488ff
}
.product-extra-link4>a.addcart-link:hover {
    background: #2488ff
}
.testimo-thumb10 a {
    border: 10px solid #2488ff
}
.testimo-info10 .title18::before,
.testimo-slider10 .owl-theme .owl-controls .owl-page.active span,
.testimo-slider10 .owl-theme .owl-controls .owl-page:hover span {
    background: #2488ff
}
.testimo-thumb10 a::after {
    background-color: rgba(36, 136, 255, .3)
}
.title-tab10 .list-none li.active a,
.title-tab10 .seeall:hover {
    color: #2488ff
}
.title-box10::before {
    background: #2488ff
}
.cat-thumb10 a:hover img {
    filter: drop-shadow(0 0 3px #2488ff);
    -moz-filter: drop-shadow(0 0 3px #2488ff);
    -webkit-filter: drop-shadow(0 0 3px #2488ff)
}
.footer-tags a:hover,
.main-nav.main-nav11>ul>li.current-menu-item>a,
.main-nav.main-nav11>ul>li:hover>a {
    color: #2488ff
}
.banner-slider11 .banner-info .shopnow:hover {
    background: #2488ff
}
.item-superdeal11 .btn-rect:hover {
    color: #fff;
    background-color: #2488ff
}
.best-sale11 .title24::before {
    background-color: #2488ff
}
.bestsale-slider11 .owl-theme .owl-controls .owl-buttons div:hover,
.title-box11 .list-none li:hover a {
    color: #2488ff
}
.title-box11 .list-none li.active a {
    background-color: #2488ff
}
.title-box11 .list-none {
    border: 1px solid #2488ff
}
.item-product11 .product-thumb:hover {
    background-color: #2488ff
}
.product-extra-link5>a {
    color: #2488ff
}
.product-extra-link5>a:hover {
    background-color: #2488ff;
    border-color: #2488ff
}
.shape-title {
    background-color: #2488ff
}
.shape-title::before {
    background: #2488ff
}
.shape-title::after {
    border-bottom: 50px solid #2488ff
}
.box-tab11 .list-none li a:hover {
    background-color: #2488ff;
    border-color: #2488ff
}
.list-coupon li a span,
.top-review11 .owl-theme .owl-controls .owl-buttons div:hover {
    color: #2488ff
}
.title-coupon li.active a {
    background: #2488ff
}
.title-coupon li a {
    color: #2488ff
}
.title-coupon {
    border-bottom: 1px solid #2488ff
}
.hot-coupons .title24::before {
    background: #2488ff
}
.wrap-cat-icon12 .title-cat-icon::after {
    color: #2488ff
}
.title14.title-top12::before,
.wrap-cat-icon12 .title-cat-icon::before {
    background: #2488ff
}
.product-box12 {
    border-top: 1px solid #2488ff
}
.banner-box12 .banner-info .shopnow,
.header-box12::before,
.title-tab12 .list-none li.active::after,
.title-tab12 .list-none li.active:first-child::before,
.title-tab12::after {
    background: #2488ff
}
.title-tab12 .list-none li.active a::after {
    color: #2488ff
}
.banner-slider.banner-slider13 .inner-banner-info {
    background: rgba(36, 136, 255, .9)
}
.banner-slider.banner-slider13 .owl-theme .owl-controls .owl-page.active::after {
    color: #2488ff
}
.adv-box13 .shopnow:hover,
.item-product13 .product-price .saleoff,
.item-product13 .product-price del::after,
.pro-deal14 .saleoff,
.product-countdown .product-price .saleoff,
.product-countdown .product-price del::after,
.title-box13 {
    background: #2488ff
}
.pro-deal14 .product-extra-link>a:hover,
.prodeal-slider14 .owl-theme .owl-controls .owl-buttons div:hover,
.product-extra-link6>a {
    color: #2488ff
}
.banner-adv14 .banner-info .shopnow:hover,
.banner-slider15 .owl-theme .owl-controls .owl-buttons div:hover,
.product-extra-link6>a:hover {
    background: #2488ff
}
.item-blog15 .post-info {
    background-color: rgba(36, 136, 255, .9)
}
.blog-slider15 .owl-theme .owl-controls .owl-buttons div:hover {
    background: #2488ff
}
.social-footer15 .list-social>a:hover {
    color: #2488ff
}
.main-nav.main-nav16>ul>li.current-menu-item>a::after,
.main-nav.main-nav16>ul>li.current-menu-item>a::before,
.social-header.social-header16>a:hover {
    background: #2488ff
}
.item-adv16 .product-title a:hover,
.main-nav.main-nav16>ul>li.current-menu-item>a {
    color: #2488ff
}
.deal-pro16 .addcart-link,
.deal-pro16 .saleoff,
.title-tab16 .viewall:hover {
    background: #2488ff
}
.title-tab16 .list-none li.active a,
.title-tab16 .list-none li.active a::before {
    color: #2488ff
}
.deal-pro16:hover {
    border-color: #2488ff
}
.item-product16 .addcart-link {
    background: #2488ff
}
.header-box16 {
    border-right: 1px solid #2488ff
}
.product-box16 {
    border-top: 1px solid #2488ff
}
.box-left16 {
    border-bottom: 1px solid #2488ff;
    border-left: 1px solid #2488ff
}
.tabs16>a:hover {
    color: #2488ff
}
.product-slider16 {
    margin: 0 -10px
}
.item-bnadv16 .banner-info {
    background: rgba(36, 136, 255, .9)
}
.footer-copyright.footer-copyright17 {
    background: #2488ff
}
.brand-box17 {
    border-top: 2px solid #2488ff
}
.banner-adv17 .banner-info .shopnow:hover,
.mini-cart17 .mini-cart-link {
    background: #2488ff
}
.main-nav.main-nav17>ul>li.current-menu-item>a {
    color: #2488ff!important
}
.wrap-cat-icon17 .list-cat-icon {
    border: 1px solid #2488ff
}
.banner-slider17 .bx-pager a {
    color: #2488ff
}
.banner-slider17 .bx-pager a span {
    border-color: #2488ff
}
.banner-slider17 .bx-pager a.active,
.footer-copyright18.footer-copyright {
    background: #2488ff
}
.poly-slider .banner-info {
    background: rgba(36, 136, 255, .9)
}
.poly-slider .owl-theme .owl-controls .owl-buttons div {
    background-color: rgba(36, 136, 255, .7)
}
.poly-slider .owl-theme .owl-controls .owl-buttons div:hover {
    background-color: #2488ff
}
.poly-slider .owl-theme .owl-controls .owl-buttons div.owl-prev::after,
.poly-slider .owl-theme .owl-controls .owl-buttons div.owl-prev::before {
    border-left: 20px solid rgba(36, 136, 255, .7)
}
.poly-slider .owl-theme .owl-controls .owl-buttons div.owl-next::after,
.poly-slider .owl-theme .owl-controls .owl-buttons div.owl-next::before {
    border-right: 20px solid rgba(36, 136, 255, .7)
}
.poly-slider .owl-theme .owl-controls .owl-buttons div.owl-prev:hover::after,
.poly-slider .owl-theme .owl-controls .owl-buttons div.owl-prev:hover::before {
    border-left: 20px solid #2488ff
}
.poly-slider .owl-theme .owl-controls .owl-buttons div.owl-next:hover::after,
.poly-slider .owl-theme .owl-controls .owl-buttons div.owl-next:hover::before {
    border-right: 20px solid #2488ff
}
.item-news18 {
    background: rgba(36, 136, 255, .9)
}
.about-menu a::after {
    background: #2488ff
}
.about-menu a:hover {
    color: #2488ff
}
.about-full-protec .about-num span {
    background: #2488ff
}
.about-full-protec .new-user-guide:hover,
.about-info h3 a:hover {
    color: #2488ff
}
.about-review-thumb a:hover {
    border-color: #2488ff
}
.item-contact-info .contact-icon:hover i,
.item-contact-info .contact-icon:hover::before {
    color: #2488ff
}
.form-contact input[type=submit] {
    background: #2488ff
}
.item-contact-info a:hover,
.search-hover-box .search-hover-link {
    color: #2488ff
}
.list-checkout li a:hover {
    background: #2488ff
}
.tab-pro-ajax-header li.active a {
    color: #2488ff
}
.main-nav .toggle-mobile-menu span,
.main-nav .toggle-mobile-menu::after,
.main-nav .toggle-mobile-menu::before {
    background: #2488ff
}
.item-cat13 a:hover img.shadow-icon {
    filter: drop-shadow(0 0 3px #2488ff)
}
.main-nav.main-nav6>ul>li:hover>a {
    color: #2488ff
}
.item-product.item-pro-hotdeal:hover {
    border-color: #2488ff
}
.footer-copyright.bg-color {
    background: #2488ff
}
.check-cart19 .checkout-box .dropdown-link .fa,
.check-cart19 .wishlist-top-link i.fa {
    color: #2488ff
}
.intro-countdown .deals-cowndown::before {
    background: #2488ff
}
.intro-countdown .deals-cowndown::after {
    color: #2488ff
}
.banner-slider19 .owl-theme .owl-controls .owl-page.active span,
.form-row.place-order input[type=submit],
.item-product19 .saleoff,
.mini-cart-box.dropdown-box:hover .mini-cart-link,
.mini-cart-checkout19 a,
.order_review_heading,
.title-box19::before,
.wc-proceed-to-checkout a.checkout-button,
.woocommerce table.shop_table td.actions input[type=submit] {
    background: #2488ff
}
.title-tab-special>li.active>a {
    color: #2488ff
}
.register-content-box .register-button:hover,
.review-form>div>input[type=submit]:hover,
.title-tab-special>li>a::after {
    background: #2488ff
}
@media (max-width: 767px) {
    .main-nav>ul>li:hover>a {
        color: #2488ff!important
    }
}