::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ddd;
    font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ddd;
    font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ddd;
    font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
    color: #ddd;
    font-style: italic;
}
textarea{
    resize: vertical;
}


/*tinymce*/
.mce-panel{
    border-radius: 3px;
    border-collapse: #ddd;
}

/*bootstrap-select*/
.bootstrap-select.btn-group .dropdown-menu>li>a .color{
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    float: left;
}
.bootstrap-select.btn-group .dropdown-menu>li>a .color>span{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

/*panel*/
.panel-footer>.heading-elements.action-left{
    padding-left: 20px;
}

/*page heading*/
.page-title{
    padding-top: 10px;
    padding-bottom: 20px;
}
.page-title h2{
    font-size: 27px;
}

.has-error .select2 .select2-selection{
    border-color: #d84315;
}

/*.dz-filename{
    display: none;
}*/

.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details{
    padding: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 8px 12px;
}

.validation-error-label, .validation-valid-label{
    display: inline-block;
}
.has-error .bootstrap-select > .btn {
    border-color: #d84315;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.page-header .big-input{
    height: 50px;
    font-size: 30px;
}

/*product form*/
#product-form #images{
    min-height: 340px; padding: 5px; border: 1px solid #ddd; border-radius: 3px;
    overflow: auto;
    position: relative;
}
#product-form #images .image{
    width: 130px;
    height: 130px;
    display: inline-block;
    position: relative;
    margin: 10px;
    vertical-align: top;
    border: 1px solid #ddd;
}
#product-form #images .image .image-bg{
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    line-height: 130px;
}
#product-form #images .image .option{
    padding: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #ddd;
    opacity: 0.9;
}
#product-form #images .image .option .radio{
    padding-top: 0;
    min-height: 0;
}
#product-form #images .image .option .radio label{
    padding-left: 17px;
}
#product-form #images .image .option div{
    width: 46%;
    display: inline-block;
}
#product-form #images .image .option div:first-child{
    margin-left: 3px;
    margin-top: 0;
    margin-bottom: 0;
}
#product-form #images .image .option div:last-child{
    float: right;
    margin-right: 3px;
}
#product-form #images #add-image{
    cursor: pointer;
    text-align: center;
    color: #ddd;
}
#product-form #images #add-image div{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 5px solid #ddd;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#product-form #images #add-image div span{
    text-align: center;
    display: inline-block;
    line-height: 40px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
}
#option-list .panel-heading,
#option-list .panel-body{
    padding: 10px;
}
#option-list .panel-body{
    height: 160px;
    overflow: auto;
}
#option-image .image{
    display: inline-block;
    outline: 4px solid #fff;
    margin: 2px;
    border: 1px solid #ddd;
}
#option-image .image.active{
    border: 2px solid #2196f3;
}
#option-image .image img{
    width: 98px; 
    height: 98px;
}
#option-image .image input[type=checkbox]{
    display: none;
}
/*end product form*/