@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
/*******************************
        Table of Contents

        1.0 Typography
    2.0 General Styles	
        3.0 Content Styles 
        4.0 Media Queries
*******************************/

/*----------------------------------------------*/
/* 1.0 Typography */
/*----------------------------------------------*/
@font-face {
    font-family: 'HelveticaNeueLTPro-Bd';
    src: url('fonts/neueltpro-bd-webfont.eot');
    src: url('fonts/neueltpro-bd-webfont.eotd41d.html?#iefix') format('embedded-opentype'),
        url('fonts/neueltpro-bd-webfont.woff') format('woff'),
        url('fonts/neueltpro-bd-webfont.ttf')  format('truetype'),
        url('fonts/neueltpro-bd-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTPro-Lt';
    src: url('fonts/neueltpro-lt-webfont.eot');
    src: url('fonts/neueltpro-lt-webfont.eotd41d.html?#iefix') format('embedded-opentype'),
        url('fonts/neueltpro-lt-webfont.woff') format('woff'),
        url('fonts/neueltpro-lt-webfont.ttf')  format('truetype'),
        url('fonts/neueltpro-lt-webfont.svg#svgFontName') format('svg');
}


/*----------------------------------------------*/
/* 2.0 General Styles */
/*----------------------------------------------*/
html, body{height:100%}
body {
    margin: 0;
    padding: 0;
    background:url(geo_background.jpg) #EEEFF1;
}
body,td,th {
    font-family: 'Press Start 2P', cursive;
}
body * {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 8px;
}
table {
    border-spacing: 0;
}
table td {
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 16px;
    text-transform: none;
}

/*----------------------------------------------*/
/* 3.0 Content Styles */
/*----------------------------------------------*/
.global-border{
    position:fixed;
    z-index:9;
    width:100%;
    height:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:solid 15px rgba(0,0,0,0.8);
}
/*** left section ***/
.left{
    display:inline-block;
    width:50%;
    height:100%;
    margin-bottom:-5px;
    text-shadow:none;
    color: white;
}
.left .content {
    position:relative;
    min-height:100%;
    padding: 30px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border-right: dashed 2px rgba(0,0,0,0.5);
    z-index:99;
}
.logo{padding:0 0 30px}
.logo img {
    border:0;
}
.left h1
{
    margin: 50px 0 0;
    padding-bottom: 10px;  
    font-size: 120px;
    font-family: "HelveticaNeueLTPro-Bd", Arial, Helvetica, sans-serif;
}
.left h2
{
    font-family: "HelveticaNeueLTPro-Lt", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 19px;
}

.left .btn-orange{
    margin:40px 5px 40px 0;
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    background: #e96645;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    font-family: "HelveticaNeueLTPro-Bd", Arial, Helvetica, sans-serif;
}
.left .btn-orange:hover{
    background: #dd5a37;
    color: #fff;
}
.left .btn-ocean{
    margin:40px 0;
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    background: #bbbdc1;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    font-family: "HelveticaNeueLTPro-Bd", Arial, Helvetica, sans-serif;
}
.left .btn-ocean:hover{
    background: #a6aab2;
    color: #fff;
}
.social {padding:30px 0 0}
.social a img{width:20px;}
.social a img:hover
{
    -ms-filter: "alpha(opacity=70)";
    filter: alpha(opacity=70);
    opacity: .7;
    -khtml-opacity: .7;
    -moz-opacity: .7;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.small{
    color:#333;
    font-weight: normal;
    padding-top: 5px;
    font-size:8px;
}
/*** right section ***/
.right{
    float:right;
    width:47%;
}
.right .content{padding:130px 50px; position:relative; z-index:99}
.cube {
    /*background: #000000;*/
    background-image: url("cube.png");
}
.bar {
    /*background: #045bc8;*/
    background-image: url("cube.png");               
}
.zleft {
    /*background: #6d9b00;*/
    background-image: url("cube.png");
}
.t {
    /*background: #c20016;*/
    background-image: url("cube.png");
}
.zright {
    /*background: blueviolet;*/
    background-image: url("cube.png");
}
.lright {
    /*background: grey;*/
    background-image: url("cube.png");
}
.lleft {
    /*background: gold;*/
    background-image: url("cube.png");
}

#main {
    overflow: hidden;
    max-width: 485px;
    margin: 0 auto;
}

#main > div {
    float: left;
    /*border: solid 1px;*/
    margin-right: 18px;
}
.border{
    border: dashed 2px rgba(0,0,0,0.5);
    margin-top: 10px;
}
.border-mini {
    border: dashed 2px rgba(0,0,0,0.5);
    margin-top: 10px;
    width: 80px;
    height: 80px;
}
#main > div:first-child {
    border: dashed 2px rgba(0,0,0,0.5);
}

#right{
    line-height: 15px;
    padding-top: 20px;
}

a {
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}
#right a {
    padding: 7px 14px;
    background: #D8D8D8;
    border: solid 1px #707070;
}
#right a:hover {
    background: #F0F0F0;
}
#controls{padding-top: 17px;}

.animate td {
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}    
.animate.out td {
    background: #B4B4B4;
}

#keysinfo {
    color: rgba(0,0,0,0.8);
    padding-top: 15px;
    display: block;
}
#keysinfo p {margin-top: 5px;}

footer{
    padding: 15px 0px;
    float: none;
    clear: both;
    color: rgba(0,0,0,0.8);
}
#container,
#preview {
    transition: all .3s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .3s ease-out;
}
.game {
    background: rgba(0,0,0,.2);
}

.more {
    text-align: right;
}
.clear{clear:both}

@media only screen and (max-width : 1255px) {
    .right .content {padding: 20px 50px;}
}
@media only screen and (max-width : 700px) {
    .right {display: inline-block; width:100%; float:none; margin-top: 30px}
    .left {display: inline-block; width:100%; float:none;}
    .btn {right: 15px; left: auto}
}